header {
    @apply flex;
    height: 58px;
    padding-top: 12px;
}

main {
    min-height: calc(100vh - 112px);
    margin-top:16px;
}

footer {
    @apply text-xs font-medium text-center;
    font-size: 12px;
    height: 38px;
    padding: 10px;
}

.button-add-data {
    @apply flex text-center text-sm text-white bg-blue-700 font-medium rounded-lg;
    height:34px;
}
